@charset "utf-8";
html {
  font-size: 2.083vw;
}
header {
    height: 66px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 33px;
}
header  p {
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid #14303f;
  grid-area: 1 / 1 / 2 / 2;
  line-height: 33px;
}
header menu {
  grid-area: 2 / 1 / 3 / 2;
  line-height: 33px;
  font-size: 14px;
  width: 70vw;
  border-right: 1px solid #14303f;
}
header .btn_img {
  grid-area: 1 / 2 / 3 / 3;
  width: 30vw;
  border-left: var(--border-style);
}
header .btn_img img:first-child {
  width: 10.992vw;
}
header .btn_img img:last-child {
  width: 9.992vw;
}


main .skill {
  height: 35.917vw;
  margin-top: 12vw;
  font-size: 3rem;
  line-height: 4rem;
}

main .project_wrapper {
  grid-template-columns: 1fr;
  grid-auto-rows: 60vw;
  border: none;
}

main .project_wrapper .project1 img {
  width: 200px;
  height: 120px;
}
main .project_wrapper .project2 img {
  width: 200px;
  height: 130px;
  transform: translateY(45%);
}
main .project_wrapper .project3 img {
  width: 200px;
  height: 120px;
  transform: translateY(50%);
}
main .project_wrapper .project4 img {
  width: 200px;
  height: 120px;
  transform: translateY(50%);
}
main .project_wrapper .project0 img {
  width: 200px;
  height: 120px;
  transform: translateY(50%);
}