@charset "utf-8";

@font-face {
  font-family: 'Pretendard-Light'; /* 내가 정해준 이름*/
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard-Light'),
    url('../common/fonts/Pretendard-Light.woff2') format('woff2'),
    url('../common/fonts/CabinetGrotesk-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Regular'; /* 내가 정해준 이름*/
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard-Regular'),
    url('../common/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('../common/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Bold'; /* 내가 정해준 이름.  <- x */
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard-Bold'),
    url('../common/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('../common/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-ExtraBold'; /* 내가 정해준 이름.  <- x */
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard-ExtraBold'),
    url('../common/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('../common/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'CabinetGrotesk-Black'; /* 내가 정해준 이름.  <- x */
  font-style: black;
  font-weight: 900;
  font-display: swap;
  src: local('CabinetGrotesk-Black'),
    url('../common/fonts/CabinetGrotesk-Black.woff2') format('woff2'),
    url('../common/fonts/CabinetGrotesk-Black.woff') format('woff');
}

:root {
  --main-font: 'Pretendard-Regular', -apple-system, BlinkMacSystemFont,
    'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;

  --main-font-light: 'Pretendard-Light', -apple-system, BlinkMacSystemFont,
    'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;

  --main-font-ExtraBold: 'Pretendard-ExtraBold', -apple-system, BlinkMacSystemFont,
    'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;

  --en-font: 'CabinetGrotesk-Black', 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
html {
  font-size: 0.521vw;
}
body {
  background-color: #e9ebef;
  color: #14303f;
  font-family: var(--main-font);
  /* background: url(./images/bg-grain.png); */
  font-size: 1.6rem;

  position: relative;
}
.texture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  background-image: url(./images/bg-grain.png);
  pointer-events: none;
  z-index: 11111;
}

/***** header *****/

header {
  width: 100%;
  height: 65px;
  background-color: #e9ebef;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #14303f;
  font-size: 17px;
  line-height: 65px;
  position: fixed;
  top: 0;
  z-index: 111;
  background-image: url(./images/bg-grain.png);
}
header p {
  width: 17.604vw;
  text-align: center;
  border-right: 1px solid #14303f;
}
header menu {
  width: 540px;
  display: flex;
  justify-content: space-evenly;
}
header .btn_img {
  width: 310px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-left: 1px solid #14303f;
}
header .btn_img img {
  cursor: pointer;
}
header .btn_img img:nth-child(1) {
  animation: moving 1s infinite ease-in-out;
}

@keyframes moving {
  0%,
  100% {
    transform: translateX(-5px) rotate(-5deg);
  }

  50% {
    transform: translateX(0px) rotate(5deg);
  }
}

.header_shadow {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

/***** main *****/
main .title {
  width: 100%;
  height: 175px;
  margin-top: 65px;
  text-align: center;
  line-height: 175px;
  font-size: 5rem;
  font-family: var(--en-font);
  border-bottom: 1px solid #14303f;
}
main .illust {
  width: 100%;
  height: 420px;
  text-align: center;
  line-height: 420px;
  font-size: 3rem;
  border-bottom: 1px solid #14303f;
  overflow: hidden;

  position: relative;
}
main .title.active {
  background-color: #A4EEEE;
}
main .illust.active {
  background: url(./images/about_bg01.svg)-5%;
}


main .illust img {
 transform: translatey(10%);
}
main .illust .na_01 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
main .illust .na_02 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

main .txt-tools {
  width: 100%;
  /* height: 1180px; */
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 0.7fr 2fr;
  grid-auto-columns: max-content;
  /* align-items: center; */
}
main .txt-tools .hello {
  padding: 3.69vw 2.60vw 3vw 8.85vw;
  font-size: 1.8rem;
  line-height: 3rem;
  border-bottom: 1px solid #14303f;
}
main .txt-tools .hello span {
  display: block;
}
main .txt-tools .career {
  font-size: 1.8rem;
  padding: 3.13vw 2.60vw 0 8.85vw;
  margin-bottom: 2vw;
  grid-row: 2 / 3;
}

main .txt-tools .career p {
  font-family: var(--main-font-light);
  margin-top: 2.56vw;
  font-weight: 200;
  letter-spacing: -0.01vw;
  line-height: 3rem;
}
main .txt-tools .career span {
  font-family: var(--main-font-ExtraBold);
  font-weight: 800;
  margin: 0.4vw 0;
  display: block;
}
main .tools_wrapper {
  width: 100%;
  border-left: 1px solid #14303f;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 13.02vw 13.02vw 11.98vw 7.81vw;
  padding: 7.81vw 2.60vw;
  gap: 1.04vw;
  grid-row: 1 / span 3;
}
main .tools_wrapper .tools {
  margin: 0 auto;
}
main .tools_wrapper .tools img {
  margin: 0 0.26vw;
}
main .tools_wrapper h2 {
  font-family: var(--en-font);
  font-size: 2.5rem;
  margin-bottom: 0.78vw;
}
main .tools_wrapper .toolstxt {
  font-size: 1.8rem;
  line-height: 1.46vw;
  padding-left: 2vw;
}
/****** footer ******/

footer {
  border-top: 1px solid #14303f;
  height: 80px;
  line-height: 80px;
}
footer p {
  font-size: 1.8rem;
  margin-left: 30px;
  font-weight: 700;
}
