@charset "utf-8";


/* 'Mulish' */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Pretendard'; /* 내가 정해준 이름*/
  font-style: thin;
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard-ExtraLight'),
    url('../common/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
    url('../common/fonts/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard'; /* 내가 정해준 이름*/
  font-style: thin;
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard-Light'),
    url('../common/fonts/Pretendard-Light.woff2') format('woff2'),
    url('../common/fonts/CabinetGrotesk-Light.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard'; /* 내가 정해준 이름*/
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard-Regular'),
    url('./common/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('./common/fonts/Pretendard-Regular.woff') format('woff');
}


:root {
  --main-font-en: 'Mulish', Pretendard, -apple-system, BlinkMacSystemFont,
  system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
  'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  --main-font-ko: 'Pretendard', -apple-system, BlinkMacSystemFont,
  system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
  'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
}

html {
  font-size: 0.521vw;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
main {
  overflow: hidden;
}
/****** header ******/

header {
  width: 100%;
  height: 9.53vw;
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 10.5vw;
  height: 1.875vw;
  margin: 2.55vw 0 0 3.69vw;
}
header .menu {
  width: 5.10vw;
  height: 0.573vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.12vw 2.96vw 0 0;
  font-family: var(--main-font-en);
  font-weight: 400;
  font-size: 1.6rem;
  gap: 0.781vw;
}
header .line {
  width: 2.08vw;
}
.manifesto_subtitle {
  font-family: var(--main-font-en);
  font-size: 2.8rem;
  font-weight: 100;
  padding: 5.63vw 0 0 3.75vw;
}
.Manifesto_en {
  font-family: var(--main-font-en);
  font-size: 4.7rem;
  text-align: right;
  line-height: 3.91vw;
  margin: 7.14vw 3.07vw 0 0;
}
.Manifesto_ko {
  font-family: var(--main-font-ko);
  font-size: 2.5rem;
  font-weight: 100;
  text-align: right;
  line-height: 2.19vw;
  margin: 4.69vw 3.07vw 0 0;
}


/****** main ******/

main .title {
  width: 90.05vw;
  height: 20.17vw;
  display: flex;
  justify-content: space-between;
  margin: 4.55vw 0 0 2.89vw;
  letter-spacing: -1vw;
}
main .title h1 {
  font-family: var(--main-font-en);
  font-weight: 400;
  font-size: 19.5rem;
  letter-spacing: -0.25vw;
  line-height: 10.41vw;
  color: #1B1C1E;


  overflow: hidden;
  white-space: nowrap;
}
.title .title_wrapper {
  display: flex;
}
.title h1 span {
  display: block;
  opacity: 0;
  transform: translateY(100%);
}
    @keyframes showWord {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }


main .title p {
  font-family: var(--main-font-en);
  font-weight: 400;
  font-size: 3.9rem;
  letter-spacing: -0.08vw;
  margin-top: 1.46vw;
}

main .main_bg {
  width: 87.50vw;
  height: 44.17vw;
  margin: 7.55vw auto 0;
  background: url(./images/bauhaus_bg01.svg) no-repeat 50% 50%/ contain;
  position: relative;
}
main .main_bg img {
  width: 13.13vw;
  height: 13.13vw;
  position: absolute;
  top: -7.92vw;
  right: 0.42vw;
  animation: rotate_image 8s linear infinite;transform-origin: 50% 50%;
}

@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}

main .main_bg .circle_outside {
  text-indent: -9999px;
  width: 29.58vw;
  height: 29.58vw;
  background-color: #0071E4;
  border-radius: 50%;
  position: relative;
  top: 8.18vw;
  left: 28.65vw;
}
main .main_bg .circle_inside {
  text-indent: -9999px;
  width: 14.58vw;
  height: 14.58vw;
  background-color: #242537;
  border-radius: 50%;
  position: absolute;
  top: 15.63vw;
  left: 36.09vw;
}

main .manifesto_1 {
  width: 100%;
  height: 96.46vw;
  background-color: #1B1C1E;
}
main .manifesto_1 p {
  color: #F5F5F5;
}

main .manifesto_1 .less {
  width: 100%;
  height: 54.22vw;
  position: relative;
}
main .manifesto_1 .less img:nth-child(1) {
  width: 32.58vw;
  height: 10.13vw;
  margin: 23.59vw 0 0 4.43vw;
}
main .manifesto_1 .less img:nth-child(2) {
  width: 39.38vw;
  height: 61.67vw;
  position: absolute;
  top: 10.52vw;
  left: 14.90vw;
}
main .manifesto_1 .less img:nth-child(3) {
  width: 54.96vw;
  height: 12.27vw;
  position: absolute;
  top: 21.41vw;
  left: 40.67vw;
}

main .manifesto_2 {
  width: 100%;
  height: 84.27vw;
  font-family: var(--main-font-en);
  font-size: 16rem;
  font-weight: 500;
  color: #1B1C1E;
  text-transform: uppercase;
  letter-spacing: -0.16vw;
  padding-top: 29.17vw;
  text-align: center;
  overflow: hidden;
}

main .manifesto_2 p {
  margin-top: -2vw;
}

main .manifesto_2 .gif1, 
main .manifesto_2 .gif2 {
  display: flex;
  justify-content: center;
}

main .manifesto_2 p:nth-child(1) {
  transform: translateX(-4%);
}

main .manifesto_2 .gif1 {
  transform: translateX(5%);
}
main .manifesto_2 .gif1 p {
  margin-left: 0.36vw;
}
main .manifesto_2 .gif1 img,
main .manifesto_2 .gif2 img {
  width: 12.92vw;
  height: 6.35vw;
  transform: translateY(3%);
}

main .manifesto_2 .manifesto_2_ko {
  font-family: var(--main-font-ko);
  font-size: 2.5rem;
  font-weight: 200;
  color: #3A3C41;
  margin-top: 5.26vw;
  letter-spacing: 0;
}

main .manifesto_2_img {
  width: 100%;
  height: 71.25vw;
  position: relative;
}
main .manifesto_2_img .b {
  width: 36.41vw;
  height: 42.66vw;
  position: absolute;
  top: 12.86vw;
  left: 33.59vw;
}
main .manifesto_2_img img:nth-child(2) {
  width: 18.39vw;
  height: 20.47vw;
  position: absolute;
  top: 35.05vw;
  left: 28.54vw;
}
main .manifesto_2_img img:nth-child(3) {
  width: 25.63vw;
  height: 15.68vw;
  position: absolute;
  top: 28.49vw;
  left: 58.85vw;
}
main .manifesto_2_img img:nth-child(5) {
  width: 19vw;
  height: 22.91vw;
  position: absolute;
  top: 6.20vw;
  left: 24.01vw;
}
main .manifesto_2_img img:nth-child(6) {
  width: 19.01vw;
  height: 19.01vw;
  position: absolute;
  top: 18.13vw;
  left: 56.56vw;
}
main .manifesto_2_img img:nth-child(7) {
  width: 21.46vw;
  height: 13.39vw;
  position: absolute;
  top: 44.64vw;
  left: 18.59vw;
}
main .manifesto_2_img .polygon {
  mix-blend-mode: multiply;
}

main .manifesto_3 {
  width: 100%;
  height: 161.82vw;
  background-color: #F4474D;
  color: #1B1C1E;
}
main .manifesto_3 .manifesto_3_img {
  position: relative;
}
main .manifesto_3 .manifesto_3_img img:nth-child(1) {
  width: 50.76vw;
  height: 82.08vw;
  position: absolute;
  top: 15.26vw;
  left: 26.67vw;
}
main .manifesto_3 .manifesto_3_img img:nth-child(2) {
  width: 50.21vw;
  height: 56.04vw;
  position: absolute;
  top: 11.51vw;
  left: 35.05vw;
}
main .manifesto_3 .manifesto_3_img img:nth-child(3) {
  width: 23.96vw;
  height: 31.41vw;
  position: absolute;
  top: 62.50vw;
  left: 29.79vw;
}
main .manifesto_3 .manifesto_3_img .pic {
  mix-blend-mode: multiply;
}

main .manifesto_4 {
  width: 100%;
  height: 85.52vw;
  background-color:#1B1C1E;
  color: #F5F5F5;
}
main .manifesto_4 p:nth-child(4) {
  margin-top: 15.05;
}
main .manifesto_4 .brand_list {
  display: flex;
  /* overflow: hidden; */
  margin-top: 8.13vw;
  gap: 7vw;
}
main .manifesto_4 .brand_list li img {
  height: 4.27vw;
}

main .history {
  width: 100%;
  height: 143.85vw;
}
main .history .title {
  font-family: var(--main-font-en);
  font-size: 50rem;
  text-align: center;
  margin: 6.01vw auto 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}
main .history .history_1 {
  position: relative;
  margin-top: 13vw;
}
main .history .history_1 .h_pic01 {
  width: 35.26vw;
  height: 20.05vw;
  position: absolute;
  top: 11.61vw;
  left: 1.25vw;
}
main .history .history_1 .h_polygon01 {
  width: 41.53vw;
  height: 21.55vw;
  position: absolute;
  top: 1.04vw;
  left: 4.01vw;
  mix-blend-mode: multiply;
}
main .history .history_1 .sub_title {
  font-family: var(--main-font-en);
  font-size: 16rem;
  letter-spacing: -0.26vw;
  position: absolute;
  top: 5.71vw;
  left: 8.74vw;
}
main .history .history_1 .history_link {
  width: 16.72vw;
  height: 16.72vw;
  background-color: #1B1C1E;
  border-radius: 50%;
  color: #F5F5F5;
  position: relative;
  top: 18.18vw;
  left: 33.33vw;
}
main .history .history_1 .history_link p {
  font-family: var(--main-font-ko);
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.3vw;
  position: absolute;
  top: 4.43vw;
  left: 3.18vw;
}
main .history .history_1 .history_link span {
  font-family: var(--main-font-ko);
  font-size: 3.4rem;
  display: block;
  margin-bottom: 0.94vw;
}
main .history .history_1 .history_link a {
  display: block;
  width: 9.79vw;
  height: 2.60vw;
  border: 1px solid #F5F5F5;
  border-radius: 50px;
  font-size: 1.8rem;
  font-family: var(--main-font-ko);
  font-weight: 100;
  position: absolute;
  top: 10.26vw;
  left: 3.33vw;
  padding: 0.7vw 0 0 0.9vw;
}
main .history .history_1 .history_link a img {
  width: 0.89vw;
  height: 0.89vw;
  margin-left: 1vw;
  transform: translateY(0.1vw);
}

main .history .history_2 {
  position: relative;
  margin-top: 5vw;
}
main .history .history_2 .h_pic02 {
  width: 37.40vw;
  height: 20.05vw;
  position: absolute;
  top: 15.21vw;
  left: 51.77vw;
}

main .history .history_2 .h_polygon02 {
  width: 14.43vw;
  height: 14.43vw;
  position: absolute;
  top: 8.16vw;
  left: 73.85vw;
  mix-blend-mode: multiply;
}
main .history .history_2 .h_polygon03 {
  width: 29.74vw;
  height: 19.64vw;
  position: absolute;
  top: 23.5vw;
  left: 54.22vw;
  mix-blend-mode: multiply;
}
main .history .history_2 .sub_title {
  font-family: var(--main-font-en);
  font-size: 16rem;
  letter-spacing: -0.36vw;
  position: absolute;
  top: 30.61vw;
  left: 55.89vw;
}
main .history .history_2 .history_link {
  width: 16.72vw;
  height: 16.72vw;
  background-color: #1B1C1E;
  border-radius: 50%;
  color: #F5F5F5;
  position: relative;
  top: 15.80vw;
  left: 79.90vw;
}
main .history .history_2 .history_link p {
  font-family: var(--main-font-ko);
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.3vw;
  position: absolute;
  top: 4.43vw;
  left: 3.18vw;
}
main .history .history_2 .history_link span {
  font-family: var(--main-font-ko);
  font-size: 3.4rem;
  display: block;
  margin-bottom: 0.94vw;
}
main .history .history_2 .history_link a {
  display: block;
  width: 9.79vw;
  height: 2.60vw;
  border: 1px solid #F5F5F5;
  border-radius: 50px;
  font-size: 1.8rem;
  font-family: var(--main-font-ko);
  font-weight: 100;
  position: absolute;
  top: 10.26vw;
  left: 3.33vw;
  padding: 0.7vw 0 0 0.9vw;
}
main .history .history_2 .history_link a img {
  width: 0.89vw;
  height: 0.89vw;
  margin-left: 1vw;
  transform: translateY(0.1vw);
}
main .history .history_3 {
  position: relative;
  margin-top: 2vw;
}
main .history .history_3 .h_pic03 {
  width: 37.40vw;
  height: 27.19vw;
  position: absolute;
  top: 16.35vw;
  left: 1.56vw;
}
main .history .history_3 .h_polygon04 {
  width: 16.20vw;
  height: 36.67vw;
  position: absolute;
  top: 11.41vw;
  left: 12.24vw;
  mix-blend-mode: multiply;
}
main .history .history_3 .sub_title {
  font-family: var(--main-font-en);
  font-size: 16rem;
  letter-spacing: -0.36vw;
  position: absolute;
  top: 41.04vw;
  left: 13.34vw;
}
main .history .history_3 .history_link {
  width: 16.72vw;
  height: 16.72vw;
  background-color: #1B1C1E;
  border-radius: 50%;
  color: #F5F5F5;
  position: relative;
  top: 32.50vw;
  left: 33.33vw;
}
main .history .history_3 .history_link p {
  font-family: var(--main-font-ko);
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 1.3vw;
  position: absolute;
  top: 4.43vw;
  left: 3.18vw;
}
main .history .history_3 .history_link span {
  font-family: var(--main-font-ko);
  font-size: 3.4rem;
  display: block;
  margin-bottom: 0.94vw;
}
main .history .history_3 .history_link a {
  display: block;
  width: 9.79vw;
  height: 2.60vw;
  border: 1px solid #F5F5F5;
  border-radius: 50px;
  font-size: 1.8rem;
  font-family: var(--main-font-ko);
  font-weight: 100;
  position: absolute;
  top: 10.26vw;
  left: 3.33vw;
  padding: 0.7vw 0 0 0.9vw;
}
main .history .history_3 .history_link a img {
  width: 0.89vw;
  height: 0.89vw;
  margin-left: 1vw;
  transform: translateY(0.1vw);
}

main .posters {
  width: 100%;
  height: 48.96vw;
  background-color: #1B1C1E;
  position: relative;
}
main .posters .title {
  font-family: var(--main-font-en);
  font-size: 50rem;
  margin: 0 auto;
  padding: 5.74vw 0;
  letter-spacing: -0.76vw;
  color: #F5F5F5;
  transform: translateX(2.7%);
}
main .posters_wrapper {
  width: 100%;
  /* height: 74.53vw; */
  height: 80.12vw;
  background-color: #1B1C1E;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
main .posters_wrapper img {
  width: 31.98vw;
  height: 238.06vw;
}
main .posters_wrapper img:nth-child(2) {
  height: 142.12vw;
}

main .others {
  width: 100%;
  height: 100vh;
  background-color: #1B1C1E;
  position: relative;
  overflow: hidden;
}
main .others .others_title {
  font-family: var(--main-font-en);
  font-size: 18rem;
  text-align: center;
  color: #F5F5F5;
  letter-spacing: -0.3vw;
  line-height: 9.32vw;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  z-index: 111;
}
main .others img {
  position: absolute;
  opacity: 0.5;
}
main .others img:nth-child(2) {
  width: 15.57vw;
  height: 20.42vw;
  top: 16.56vw;
  left: 4.79vw;
}
main .others img:nth-child(3) {
  width: 17.24vw;
  height: 15.05vw;
  top: 19.84vw;
  left: 27.71vw;
}
main .others img:nth-child(4) {
  width: 12.14vw;
  height: 6.46vw;
  top: 18.59vw;
  left: 57.40vw;
}
main .others img:nth-child(5) {
  width: 6.04vw;
  height: 6.04vw;
  top: 19.79vw;
  left: 90.68vw;
}
main .others img:nth-child(6) {
  width: 12.50vw;
  height: 12.03vw;
  top: 39.06vw;
  left: 21.46vw;
}
main .others img:nth-child(7) {
  width: 23.65vw;
  height: 23.23vw;
  top: 31.61vw;
  left: 47.34vw;
}
main .others img:nth-child(8) {
  width: 14.43vw;
  height: 16.09vw;
  top: 26.77vw;
  left: 73.70vw;
}
main .others .circle_text {
  width: 9.58vw;
  height: 9.58vw;
  position: absolute;
  top: 29.58vw;
  left: 45.21vw;
  animation: rotate_image 8s linear infinite;transform-origin: 50% 50%;
  opacity: 1;
}
@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}


main .bottom {
  width: 100%;
  height: 85.10vw;
  background-color: #F4474D;
  position: relative;
  overflow: hidden;
}
main .bottom .since {
  font-family: var(--main-font-en);
  font-size: 20rem;
  letter-spacing: -0.5vw;
  color: #1B1C1E;
  padding: 3vw 0 0 5vw;
}
main .bottom h4 {
  width: 87.50vw;
  height: 10.73vw;
  border-top: 1px solid #1B1C1E;
  border-bottom: 1px solid #1B1C1E;
  margin: 6.2vw auto 0;
  font-family: var(--main-font-en);
  font-size: 6.9rem;
  color: #1B1C1E;
  padding-top: 1vw;
}
main .bottom .txt_wrapper {
  display: flex;
  margin: 3vw 0 0 5.5vw;
  gap: 4vw;
}
main .bottom .txt_wrapper .bottom_en {
  font-family: var(--main-font-en);
  font-size: 2rem;
  font-weight: 700;
}
main .bottom .txt_wrapper .bottom_ko {
  font-family: var(--main-font-ko);
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0.8vw;
}
main .bottom .txt_wrapper ul {
  margin-top: 5vw;
}
main .bottom .txt_wrapper li {
  font-family: var(--main-font-en);
  font-size: 2rem;
  line-height: 1.6vw;
}

main .bottom .portfolio {
  display: flex;
  gap: 0.5vw;
  font-family: var(--main-font-en);
  font-size: 2rem;
  color: #1B1C1E;
  position: absolute;
  top: 53.39vw;
  right: 6.46vw;
}
main .bottom .portfolio p {
  margin-top: 0.37vw;
}
main .bottom .portfolio img {
  width: 1.56vw;
  height: 1.56vw;
}
main .bottom .bottom-bg {
  width: 66.61vw;
  height: 33.39vw;
  margin: 0 auto;
  transform: translateY(40%);
  background: url(./images/bg_bottom.svg)50%/contain;
  position: relative;
}
main .bottom-bg .circle_outside {
  text-indent: -9999px;
  width: 29.58vw;
  height: 29.58vw;
  background-color: #0071E4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
main .bottom-bg .circle_inside {
  text-indent: -9999px;
  width: 14.58vw;
  height: 14.58vw;
  background-color: #242537;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.txt_move {
  opacity: 0;
  transform: translateY(20px);
  animation: showWord 1s forwards;
}

@keyframes showWord {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.manifesto_1 span {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}