@charset "utf-8";

/* 'Mulish' */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Pretendard'; /* 내가 정해준 이름*/
  font-style: thin;
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard-ExtraLight'),
    url('../common/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
    url('../common/fonts/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard'; /* 내가 정해준 이름*/
  font-style: thin;
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard-Light'),
    url('../common/fonts/Pretendard-Light.woff2') format('woff2'),
    url('../common/fonts/CabinetGrotesk-Light.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard'; /* 내가 정해준 이름*/
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard-Regular'),
    url('./common/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('./common/fonts/Pretendard-Regular.woff') format('woff');
}


:root {
  --main-font-en: 'Mulish', Pretendard, -apple-system, BlinkMacSystemFont,
  system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
  'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
  --main-font-ko: 'Pretendard', -apple-system, BlinkMacSystemFont,
  system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
  'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', sans-serif;
}

html {
  font-size: 0.521vw;
}

/****** header ******/

header {
  width: 100%;
  height: 9.53vw;
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 10.5vw;
  height: 1.875vw;
  margin: 2.55vw 0 0 3.69vw;
}
header .menu {
  width: 5.10vw;
  height: 0.573vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.12vw 2.96vw 0 0;
  font-family: var(--main-font-en);
  font-weight: 400;
  font-size: 1.6rem;
  gap: 0.781vw;
}
header .line {
  width: 2.08vw;
}
.manifesto_subtitle {
  font-family: var(--main-font-en);
  font-size: 2.8rem;
  font-weight: 100;
  padding: 5.63vw 0 0 3.75vw;
}
.Manifesto_en {
  font-family: var(--main-font-en);
  font-size: 4.7rem;
  text-align: right;
  line-height: 3.91vw;
  margin: 7.14vw 3.07vw 0 0;
}
.Manifesto_ko {
  font-family: var(--main-font-ko);
  font-size: 2.5rem;
  font-weight: 100;
  text-align: right;
  line-height: 2.19vw;
  margin: 4.69vw 3.07vw 0 0;
}


/****** main ******/

main .title {
  width: 90.05vw;
  height: 18.17vw;
  display: flex;
  justify-content: space-between;
  margin: 4.55vw 0 0 2.89vw;
}
main .title h1 {
  font-family: var(--main-font-en);
  font-weight: 400;
  font-size: 19.5rem;
  letter-spacing: -0.25vw;
  line-height: 10.41vw;
}
main .title p {
  font-family: var(--main-font-en);
  font-weight: 400;
  font-size: 3.9rem;
  letter-spacing: -0.08vw;
  margin-top: 1.46vw;
}

main .main_bg {
  width: 87.50vw;
  height: 44.17vw;
  margin: 7.55vw auto 0;
  background: url(./images/bauhaus_bg01.svg) no-repeat 50% 50%/ contain;
  position: relative;
}
main .main_bg img {
  width: 13.13vw;
  height: 13.13vw;
  position: absolute;
  top: -7.92vw;
  right: 0.42vw;
}
main .main_bg .circle_outside {
  text-indent: -9999px;
  width: 29.58vw;
  height: 29.58vw;
  background-color: #0071E4;
  border-radius: 50%;
  position: absolute;
  top: 8.18vw;
  left: 28.65vw;
}
main .main_bg .circle_inside {
  text-indent: -9999px;
  width: 14.58vw;
  height: 14.58vw;
  background-color: #242537;
  border-radius: 50%;
  position: absolute;
  top: 15.63vw;
  left: 36.09vw;
}

main .manifesto_1 {
  width: 100%;
  height: 96.46vw;
  background-color: #1B1C1E;
}
main .manifesto_1 p {
  color: #F5F5F5;
}

main .manifesto_1 .less {
  width: 100%;
  height: 54.22vw;
  position: relative;
}
main .manifesto_1 .less img:nth-child(1) {
  width: 32.58vw;
  height: 10.13vw;
  margin: 23.59vw 0 0 4.43vw;
}
main .manifesto_1 .less img:nth-child(2) {
  width: 39.38vw;
  height: 61.67vw;
  position: absolute;
  top: 10.52vw;
  left: 14.90vw;
}
main .manifesto_1 .less img:nth-child(3) {
  width: 54.96vw;
  height: 12.27vw;
  position: absolute;
  top: 21.41vw;
  left: 40.67vw;
}

main .manifesto_2 {
  width: 100%;
  height: 84.27vw;
  font-family: var(--main-font-en);
  font-size: 16rem;
  font-weight: 500;
  color: #A9A9A9;
  text-transform: uppercase;
  letter-spacing: -0.16vw;
  padding-top: 29.17vw;
  text-align: center;
  overflow: hidden;
}
main .manifesto_2 p {
  margin-top: -2vw;
}

main .manifesto_2 .gif1, 
main .manifesto_2 .gif2 {
  display: flex;
  justify-content: center;
}

main .manifesto_2 p:nth-child(1) {
  transform: translateX(-4%);
}

main .manifesto_2 .gif1 {
  transform: translateX(5%);
}
main .manifesto_2 .gif1 p {
  margin-left: 0.36vw;
}
main .manifesto_2 .gif1 img,
main .manifesto_2 .gif2 img {
  width: 12.92vw;
  height: 6.35vw;
  transform: translateY(3%);
}

main .manifesto_2 .manifesto_2_ko {
  font-family: var(--main-font-ko);
  font-size: 2.5rem;
  font-weight: 200;
  color: #3A3C41;
  margin-top: 5.26vw;
  letter-spacing: 0;
}

main .manifesto_2_img {
  width: 100%;
  height: 71.25vw;
  position: relative;
}
main .manifesto_2_img .b {
  width: 36.41vw;
  height: 42.66vw;
  position: absolute;
  top: 12.86vw;
  left: 33.59vw;
}
main .manifesto_2_img img:nth-child(2) {
  width: 18.39vw;
  height: 20.47vw;
  position: absolute;
  top: 35.05vw;
  left: 28.54vw;
}
main .manifesto_2_img img:nth-child(3) {
  width: 25.63vw;
  height: 15.68vw;
  position: absolute;
  top: 28.49vw;
  left: 58.85vw;
}
main .manifesto_2_img img:nth-child(5) {
  width: 19vw;
  height: 22.91vw;
  position: absolute;
  top: 6.20vw;
  left: 24.01vw;
}
main .manifesto_2_img img:nth-child(6) {
  width: 19.01vw;
  height: 19.01vw;
  position: absolute;
  top: 18.13vw;
  left: 56.56vw;
}
main .manifesto_2_img img:nth-child(7) {
  width: 21.46vw;
  height: 13.39vw;
  position: absolute;
  top: 44.64vw;
  left: 18.59vw;
}
main .manifesto_2_img .polygon {
  mix-blend-mode: multiply;
}

main .manifesto_3 {
  width: 100%;
  height: 161.82vw;
  background-color: #F4474D;
  color: #1B1C1E;
}
main .manifesto_3 .manifesto_3_img {
  position: relative;
}
main .manifesto_3 .manifesto_3_img img:nth-child(1) {
  width: 50.76vw;
  height: 82.08vw;
  position: absolute;
  top: 15.26vw;
  left: 26.67vw;
}
main .manifesto_3 .manifesto_3_img img:nth-child(2) {
  width: 50.21vw;
  height: 56.04vw;
  position: absolute;
  top: 11.51vw;
  left: 35.05vw;
}
main .manifesto_3 .manifesto_3_img img:nth-child(3) {
  width: 23.96vw;
  height: 31.41vw;
  position: absolute;
  top: 62.50vw;
  left: 29.79vw;
}
main .manifesto_3 .manifesto_3_img .pic {
  mix-blend-mode: multiply;
}

main .manifesto_4 {
  width: 100%;
  height: 85.52vw;
  background-color:#1B1C1E;
  color: #F5F5F5;
}
main .manifesto_4 p:nth-child(4) {
  margin-top: 15.05;
}
main .manifesto_4 .brand_list {
  display: flex;
  overflow: hidden;
  margin-top: 8.13vw;
}
main .manifesto_4 .brand_list li img {
  height: 4.27vw;
}

main .history {
  width: 100%;
  height: 143.85vw;
}
main .history .title {
  font-family: var(--main-font-en);
  font-size: 50rem;
  text-align: center;
  margin: 6.01vw auto;
  padding: 0;
}
main .history .history_1 {}
main .history .history_1 img:nth-child(2) {
  width: 35.26vw;
  height: 20.05vw;
}
main .history .history_1 img:nth-child(1) {
  width: 41.56vw;
  height: 21.61vw;
}