@charset "utf-8";

@font-face {
  font-family: 'Pretendard-Regular'; /* 내가 정해준 이름*/
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard-Regular'),
    url('./common/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('./common/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Bold'; /* 내가 정해준 이름.  <- x */
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard-Bold'),
    url('./common/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('./common/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'CabinetGrotesk-Black'; /* 내가 정해준 이름.  <- x */
  font-style: black;
  font-weight: 900;
  font-display: swap;
  src: local('CabinetGrotesk-Black'),
    url('./common/fonts/CabinetGrotesk-Black.woff2') format('woff2'),
    url('./common/fonts/CabinetGrotesk-Black.woff') format('woff');
}

:root {
  --main-font: 'Pretendard-Regular', -apple-system, BlinkMacSystemFont,
    'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;
  --en-font: 'CabinetGrotesk-Black', 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
html {
  font-size: 10px;
}